.App {
  text-align: left;
}

.App-header {
  background-color: #424242;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  body{
    color: #FFF;
    background-color: #424242;
  }
  
  a{
    color: #FFF;
    background-color: #424242;
  }
}

body{
  background-color: #2b2b2b;
  color: #FFF;
  padding-left: 20px;
  padding-right: 20px
}

p{
  line-height: 0.5;
}